---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

// buttons

.btn-primary {
  border: none;
  color: white;
  &:hover {
    background-color: $gray;
  }
}

.btn-secondary {
  background: white;
  border: 1px solid #e9ebee;
  color: $gray;
}

// general

.page-section {
  padding: 5rem 0 5rem;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

// Contacto

#contact {
  margin: 0 -15px;
  & a {
    color: $cyan;
  }
}
