---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

// buttons

.btn-link {
    color: $gray;
    padding: 0 0;
    &:hover {
      color: $magenta;
    }
}

.btn {
  margin-bottom: 3px;
}

.btn-primary {
  border: none;
  color: white;
  &:hover {
    background-color: $gray;
  }
}

.btn-secondary {
  background: white;
  border: 1px solid #e9ebee;
  color: $gray;
}

// general

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 170px;
  font-family: 'Karla', sans-serif;
  background: #F8F8F9;
  color: #3B3B3B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

@media (min-width: 576px) {
  body {
    padding-bottom: 140px;
  }
}

.page-section {
  padding: 5rem 0 5rem;
}

.page-header {
  padding-top: calc(3rem + 3vw);
  height: calc(9rem + 9vw);
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-74 {
  margin-top: 74px;
}

span.span-white {
  background: white;
}

strong {
  font-family: 'Poppins', sans-serif;
}

// Header text

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
}

h1 {
  font-size: calc(1.7rem + 1.7vw);
  line-height: calc(2.6rem + 2.6vw);
}

h2 {
    font-size: calc(1.2vw + 1.2rem);
    line-height: calc(1.4vw + 1.4rem);
}

h3 {
  font-size: calc(0.8vw + 0.8rem);
  line-height: calc(1vw + 1.6rem);
}

h3 a {
  color: #3B3B3B;
}

h4 {
  line-height: 32px;
}

.h5, h5 {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

// Header

.navbar-brand svg {
    max-width: 240px;
}

@media (min-width: 576px) {
  .navbar-brand svg {
    max-width: 350px;
  }
}

.navbar-light .navbar-toggler {
    color: $gray;
    border: none;
}

.navbar-nav.mr-auto {
  margin-left: auto!important;
  margin-right: 0!important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
}

// hero

#main {
    padding-top: calc(1vw + 3rem);
    margin-bottom: calc(2vw + 2rem);
}

// menu

.menu-box {
  padding: calc(1vw + 1rem) calc(1.2vw + 1.2rem);
  height: 400px;
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-transition: all .4s cubic-bezier(.215,.61,.355,1);
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  &:hover {
    box-shadow: 0px 0px 30px #000000a3;
  }
}

// blog

#blog {
    padding: 5rem 0 5rem;
    display: none;
    & a {
      text-decoration: underline;
    }
}

@media (min-width: 576px) {
  #blog {
      display: grid;
  }
}

// highlighted

#highlighted {
    display: none;
}

@media (min-width: 576px) {
  #highlighted {
      display: initial;
  }
}

// Contacto

#contact {
  margin: 0 -15px;
  & a {
    color: $cyan;
  }
  & select {
    height: 3.5rem;
    border: none;
    padding: 1rem;
    width: 100%;
    margin-bottom: 5px;
  }
  & input {
    padding: 1rem;
    width: 100%;
    margin-bottom: 5px;
  }
}



// Herramientas

.panel-body {
    padding: calc(1vw + 1.5rem) calc(1vw + 1.5rem);
    height: 430px;
    position: relative;
    background: white;
}

// carousel

.carousel-control-next, .carousel-control-prev {
    color: $gray;
    width: 5%;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: $red;
}

// map

#projects-map {
  margin: 0 -15px calc(-2vw + -2rem);
  position: relative;
}

.map-legend {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 15px;
}

#map {
    width: 100%;
    height: 450px;
}

// Faq

.card {
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
}

.card-header {
    background-color: white;
    border-bottom: 0;
}
