---
layout: default
---

<div id="main" class="container-fluid">
  <div class="intro">
    <h1>Ofrecemos herramientas a<br> sociedad civil, gobierno y empresas<br> para avanzar hacia el cambio social y aumentar tu impacto</h1>
  </div>
  {% include menu.html %}
      {% assign destacadas = site.posts | where:"highlighted",true %}
  {% assign counter = 1 %}

  <div class="row">
  {% assign articulos = site.posts | where:"highlighted",false %}
  {% for post in articulos limit:6 %}
      {% include post_preview.html %}
    {% assign cnt = counter|modulo:4 %}
    {% if cnt == 0 %}
  </div>
  <div class="row">
    {% endif %}
      {% assign counter = counter | plus:1 %}
  {% endfor %}
    </div>
</div>
