---
layout: default
published: true
---
<div id="main" class="container-fluid" data-background="images/full-width-images/section-bg-4.jpg" id="home" style="background-image: url(&quot;img/hero01.png&quot;); background-position: 50% 0px;background-size: initial;background-repeat: no-repeat;">
  <div class="intro">
    <h1><span class="span-white">Con nuestras herramientas puedes crear mejores democracias y mejores sociedades</span></h1>
    <h3><span class="span-white">Aquí te contamos cómo</span></h3>
  </div>
  {% include menu.html %}
  {% assign destacadas = site.posts | where:"highlighted",true %}
  {% assign counter = 1 %}

  {% include blogfeed.html %}

  {% include contact.html %}

  {% include users.html %}

  {% include map.html %}

</div>
