---
layout: default
---
<div class="cd-fold-content single-page">
  <h2>Participación ciudadana</h2>
  <p class="bajada">
    En Ciudadano Inteligente ponemos a disposición de la ciudadanía herramientas para fomentar y facilitar la participación, ya sea para apoyar la activación colectiva en torno un tema, para sumar el apoyo a iniciativas ciudadanas, para canalizar denuncias, agrupar datos de manera colaborativa o para facilitar el acceso a información.
  </p>

  <p>Revisa nuestras herramientas de esta categoría:</p>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% capture first_item %}true{% endcapture %}
      {% for t in site.tools %}
        {% if t.tool_category == 'category_01' %}
		    <div class="panel panel-default">
		    <!-- Heading -->
		      <div class="panel-heading" role="tab" id="heading-{{ forloop.index }}">
		        <h4 class="panel-title text-center">
				          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#project-{{ forloop.index }}" aria-expanded="false" aria-controls="project-{{ forloop.index }}">
				            {{t.tool_title}}
				          </a>
		        </h4>
		      </div>
		      <!-- Contenido -->
		      <div id="project-{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ forloop.index }}">
		        <div class="panel-body">
		          <h4 class="bajada">{{ t.tool_description }}</h4>
		          <!-- Slider -->
              {% if t.tool_screenshots.size %}
		          <div id="carousel-example-generic-{{ t.tool_id }}" class="carousel slide" data-ride="carousel">
		            <!-- Indicators -->
                {% if t.tool_screenshots.size > 1 %}
                <ol class="carousel-indicators">
                  {% for s in t.tool_screenshots %}
		              <li data-target="#carousel-example-generic-{{ t.tool_id }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first == true %}active{% endif %}"></li>
                  {% endfor %}
		            </ol>
                {% endif %}

		            <!-- Wrapper for slides -->
		            <div class="carousel-inner" role="listbox">
                  {% for s in t.tool_screenshots %}
		              <div class="item {% if forloop.index == 1 %}active{% endif %}">
		                <img src="{{ site.baseurl }}{{s.url}}" alt="{{t.tool_title}}">
		              </div>
                  {% endfor %}
		            </div>

		            <!-- Controls -->
                {% if t.tool_screenshots.size > 1 %}
		            <a class="left carousel-control" href="#carousel-example-generic-{{ t.tool_id }}" role="button" data-slide="prev">
		              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		              <span class="sr-only">Anterior</span>
		            </a>
		            <a class="right carousel-control" href="#carousel-example-generic-{{ t.tool_id }}" role="button" data-slide="next">
		              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		              <span class="sr-only">Siguiente</span>
		            </a>
                {% endif %}
		          </div>
              {% endif %}
		          <!-- Fin slider -->
		          <p>{{t.tool_respond_to}}</p>

		          <ul><strong>Con esta herramienta podrás:</strong>
		            {% for spec in t.tool_specs %}
		            <li><i class="fa fa-check" aria-hidden="true"></i> {{ spec.key }}</li>
		            {% endfor %}
		          </ul>
		        </div>
		      </div>
		    </div>
              {% capture first_item %}false{% endcapture %}
        {% endif %}
      {% endfor %}
  </div>
</div>
<script>
  ga('set', 'page', '/#item-1.html','Cuentas públicas y estado de avance');
</script>
