<section id="blog">
  <div class="container">
    <h2 class="mb-30">Historias de nuestro blog</h2>
    <div class="row">
      <div class="col-md-4 fadeInUp animated">
        <div class="blog-box">
          <img src="https://i.imgur.com/hBajonI.jpg" class="img-fluid">
          <h3 class="mt-30">Una joven que lucha contra la violencia</h3>
          <p class="details">14/03/18</p>
          <h2 class="sign">_</h2>
          <p> Son muchxs lxs que luchan por cambiar el mundo y nosotrxs queremos ayudar. Bibiana Quintero (19) busca combatir la violencia que día a día viven lxs colombianxs. A través de nuestra metodología de LabCívico podemos contribuir a esta noble causa. <a href="https://blog.ciudadanointeligente.org/2017/09/05/activista-busca-terminar-con-violencia-en-colombia.html" class="text-right">Acá su historia.</a></p>
        </div>
      </div>
      <div class="col-md-4 fadeInUp animated">
        <div class="blog-box">
          <img src="https://i.imgur.com/44CDSBj.png"class="img-fluid">
          <h3 class="mt-30">¿Qué necesitas para una elección?</h3>
          <p class="details">14/03/18</p>
          <h2 class="sign">_</h2>
          <p>Los comicios electorales nunca han sido fáciles. El actual escenario de desconfianza sobre la política ha aumentado y la ciudadanía se aleja cada vez más de estos procesos ¡Cambiemos el paradigma! ¡Potenciaemos la participación ciudadana! <a href="https://blog.ciudadanointeligente.org/pol%C3%ADtica/2017/11/15/set-herramienta.html" class="text-right">Conócelas aquí</a></p>
        </div>
      </div>
      <div class="col-md-4 fadeInUp animated">
        <div class="blog-box">
          <img src="https://i.imgur.com/nu5Cqae.jpg" class="img-fluid">
          <h3 class="mt-30">La batalla del periodismo en México</h3>
          <p class="details">01/01/01</p>
          <h2 class="sign">_</h2>
          <p>¿Cómo podemos organizarnos para acabar con la violencia? México es el tercer país más peligroso en el mundo para ser periodista. Combatirlo colectivamente es la solución. Con nuestras herramientas logramos que más de 300 periodistas se reunieran para discutir el tema y atacarlo de raíz. <a href="https://blog.ciudadanointeligente.org/colaboraci%C3%B3n/2017/08/11/lo-que-pasa-cuando-una-comunidad.html" class="text-right"> Acá nuestra experiencia.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
