<section id="blog">
  <div class="container">
    <h2 class="mb-30">Historias de nuestro blog</h2>
    <div class="row">
      <div class="col-md-4 fadeInUp animated">
        <div class="blog-box">
          <img src="https://i.imgur.com/hBajonI.jpg" class="img-fluid">
          <h3 class="mt-30">Una joven que lucha contra la violencia</h3>
          <p class="details">14/03/18</p>
          <h2 class="sign">_</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#" class="text-right">Seguir leyendo</a></p>
        </div>
      </div>
      <div class="col-md-4 fadeInUp animated">
        <div class="blog-box">
          <img src="https://i.imgur.com/44CDSBj.png"class="img-fluid">
          <h3 class="mt-30">¿Qué necesitas para una elección?</h3>
          <p class="details">14/03/18</p>
          <h2 class="sign">_</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#" class="text-right">Seguir leyendo</a></p>
        </div>
      </div>
      <div class="col-md-4 fadeInUp animated">
        <div class="blog-box">
          <img src="https://i.imgur.com/nu5Cqae.jpg" class="img-fluid">
          <h3 class="mt-30">La batalla del periodismo en México</h3>
          <p class="details">01/01/01</p>
          <h2 class="sign">_</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#" class="text-right">Seguir leyendo</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
