<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<section id="contact">
  <div class="page-section bg-magenta">
    <div class="container">
      <div class="text-center">
        <h3 class="mb-30">¿Quieres usar nuestras herramientas? Las adaptamos a tus necesidades </h3>
        <form action="https://formspree.io/herramientas@ciudadaniai.org" method="POST">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <select name="org" placeholder="Tipo de organización">
                <option value="" disabled selected>Tipo de organización</option>
                <option value="particular">Persona particular</option>
                <option value="sociedad-civil">Agrupación de la sociedad civil</option>
                <option value="ong">ONG</option>
                <option value="organismo-internacional">Organismo Internacional</option>
                <option value="empresa">Empresa</option>
                <option value="centro-de-pensamiento">Centro de pensamiento</option>
                <option value="otro">otro</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-3">
              <input name="org-name" placeholder="Nombre organización"></input>
            </div>
            <div class="col-sm-12 col-md-3">
              <select name="org-size">
                <option value="" disabled selected>Tamaño de tu organización</option>
                <option value="1 a 4">1 a 4 trabajadorxs</option>
                <option value="5 a 20">5 a 20 trabajadorxs</option>
                <option value="21 a 60">21 a 60 trabajadorxs</option>
                <option value="60 o mas">61 o más trabajadorxs</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-3">
              <a data-toggle="tooltip" data-placement="top" title="¿Tienes fondos para financiar esta herramienta o planeas conseguirlos?">
                <input name="funding" placeholder="Fuentes de financiamiento">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <a data-toggle="tooltip" data-placement="top" title="Descríbenos tus principales necesidades para adaptar nuestras herramientas a lo que requieres.">
                <input name="message" placeholder="Cuéntanos que herramienta nuestra necesitas y qué buscas lograr" required></input>
              </a>
            </div>
            <div class="col-sm-12 col-md-3">
              <input type="email" name="_replyto" placeholder="Tu email" required>
            </div>
            <div class="col-sm-12 col-md-3">
              <input type="submit" class="btn btn-secondary participacion-ciudadana" value="Enviar">
            </div>
          </div>
        </form>
        <h5 class="mt-30">herramientas@ciudadaniai.org</h5>
      </div>
    </div>
  </div>
</section>
