<section id="contact">
  <div class="page-section bg-cyan">
    <div class="container">
      <div class="text-center">
        <h3 class="mb-30">¿Quieres usar nuestras herramientas? Las adaptamos a tus necesidades </h3>
        <form action="https://formspree.io/herramientas@ciudadanointeligente.org" method="POST">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <input type="email" name="_replyto" placeholder="Tu email">
            </div>
            <div class="col-sm-12 col-md-6">
              <input name="message" placeholder="Tu mensaje"></input>
            </div>
            <div class="col-sm-12 col-md-3">
              <input type="submit" class="btn btn-secondary participacion-ciudadana" value="Enviar">
            </div>
          </div>
        </form>
        <h5 class="mt-30">herramientas@ciudadanointeligente.org</h5>
      </div>
    </div>
  </div>
</section>
