<section id="highlighted">
  <h2 class="text-center">Herramientas destacadas</h2>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
        {% assign articulos = site.posts | where:"highlighted",true %}
        {% for post in articulos limit:6 %}
          {% include post_preview.html %}
          {% assign cnt = counter|modulo:3 %}
          {% if cnt == 0 %}
            {% if counter == 6 %}
          </div>
        </div>
            {% elsif counter != 6 %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            {% endif %}
          {% endif %}
            {% assign counter = counter | plus:1 %}
        {% endfor %}
          </div>
        </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>
</section>
