<!-- <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2FtYXJnb3p6aW5pIiwiYSI6InhXRjdLamcifQ.Gdafit2TZ0SSH_LS0dt2qg';
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/camargozzini/ciyubg6wy001y2sll7o0h0gpg'
  });
</script> -->


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

<style>
    .mapboxgl-popup {
        max-width: 400px;
    }
</style>

<section id="projects-map">
  <div class="map-legend">
    <h3 class="">Nuestras herramientas<br> se están usando en:</h3>
    <div class="small">
      <span class="incide"><i class="fas fa-circle fa-xs"></i></span> Herramientas para incidir estrategicamente</br>
      <span class="impulsa"><i class="fas fa-circle fa-xs"></i></span> Herramientas para impulsar la participación ciudadana</br>
      <span class="informa"><i class="fas fa-circle fa-xs"></i></span> Herramientas para informar</br>
      <span class="fiscaliza"><i class="fas fa-circle fa-xs"></i></span> Herramientas para fiscalizar
    </div>
  </div>
  <div id='map' style='width: 100%; height: 500px;'></div>
</section>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY2FtYXJnb3p6aW5pIiwiYSI6InhXRjdLamcifQ.Gdafit2TZ0SSH_LS0dt2qg';

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/camargozzini/ciyubg6wy001y2sll7o0h0gpg',
    // center: [-77.04, 38.907],
    // zoom: 11.15
});

map.on('load', function() {

    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false,
        scrollZoom: false
    });

map.scrollZoom.disable();

map.doubleClickZoom.disable();

// incide

    map.on('mouseenter', 'incide-estratgicamente', function(e) {
        // Change the cursor style as a UI indicator.
        map.getCanvas().style.cursor = 'pointer';

        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        var herramienta = e.features[0].properties.Herramienta;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates)
            .setHTML(herramienta)
            .addTo(map);
    });

// informa

    map.on('mouseenter', 'informa-de-manera-efectiva-y-ami', function(e) {
        // Change the cursor style as a UI indicator.
        map.getCanvas().style.cursor = 'pointer';

        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        var herramienta = e.features[0].properties.Herramienta;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates)
            .setHTML(herramienta)
            .addTo(map);
    });

// impulsa

    map.on('mouseenter', 'fomenta-la-participacin-ciudadan', function(e) {
        // Change the cursor style as a UI indicator.
        map.getCanvas().style.cursor = 'pointer';

        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        var herramienta = e.features[0].properties.Herramienta;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates)
            .setHTML(herramienta)
            .addTo(map);
    });

// fiscaliza

    map.on('mouseenter', 'rinde-cuentas-o-fiscaliza-el-ava', function(e) {
        // Change the cursor style as a UI indicator.
        map.getCanvas().style.cursor = 'pointer';

        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        var herramienta = e.features[0].properties.Herramienta;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates)
            .setHTML(herramienta)
            .addTo(map);
    });

    map.on('mouseleave', 'places', function() {
        map.getCanvas().style.cursor = '';
        popup.remove();
    });
});
</script>
