<div class="menu">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="bg-cyan menu-box">
        <h3><i class="fas fa-bullhorn"></i><br><a href="{{ site.baseurl }}/incidencia">Incide estratégicamente</h3></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}incide/2017/04/21/planificacion-estrategica.html">Planificación estratégica</a></li>
            <li><a href="{{ site.baseurl }}incide/2017/04/21/articulacion-para-la-incidencia.html">Articulación para la incidencia</a></li>
            <li><a href="{{ site.baseurl }}incide/2017/04/21/escuela-de-incidencia.html">Escuela de Incidencia</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="bg-magenta menu-box">
        <h3><i class="fas fa-comment"></i><br><a href="{{ site.baseurl }}participacion">Fomenta la participación ciudadana</h3></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}impulsa/2017/04/21/mapa-colaborativo.html">Mapa Colaborativo</a></li>
            <li><a href="{{ site.baseurl }}impulsa/2017/04/21/propuestas-ciudadanas.html">Propuestas Ciudadanas</a></li>
            <li><a href="{{ site.baseurl }}impulsa/2017/04/21/votainteligente.html">Vota Inteligente</a></li>
            <li><a href="{{ site.baseurl }}impulsa/2017/04/21/abre.html">Abre</a></li>
            <li><a href="{{ site.baseurl }}impulsa/2017/04/21/participacion-infanto-juvenil.html">Participación Infanto Juvenil</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="bg-red menu-box">
        <h3><i class="fas fa-chart-pie"></i><br><a href="{{ site.baseurl }}informacion">Informa de manera efectiva y amigable</h3></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}informa/2017/04/21/comparador-de-posturas.html">Comparador de Posturas</a></li>
            <li><a href="{{ site.baseurl }}informa/2017/04/21/perfiles-transparentes.html">Perfiles Transparentes</a></li>
            <li><a href="{{ site.baseurl }}informa/2017/04/21/test-de-afinidad.html">Test de afinidad</a></li>
            <li><a href="{{ site.baseurl }}informa/2017/04/21/organizaciones-transparentes.html">Organizaciones Transparentes</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="bg-blue menu-box">
        <h3><i class="fas fa-tasks"></i><br><a href="{{ site.baseurl }}/rendicion">Rinde cuentas o fiscaliza el avance de otros</h3></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}fiscaliza/2017/07/12/ddah.html">Rendición de cuentas</a></li>
            <li><a href="{{ site.baseurl }}fiscaliza/2017/07/12/observatorio-de-avance.html">Observatorio de avance</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
