<div class="menu">
  <div class="row">
    <div class="col-md-3">
      <div class="bg-cyan menu-box">
        <h2>1<br><a href="{{ site.baseurl }}/incidencia">Incide estratégicamente</h2></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/incide%20estrategicamente/2017/04/21/planificacion-estrategica.html">Planificación entratégica</a></li>
            <li><a href="{{ site.baseurl }}/incide%20estrategicamente/2017/04/21/articulacion-para-la-incidencia.html">Articulación para la incidencia</a></li>
            <li><a href="{{ site.baseurl }}/incide%20estrategicamente/2017/04/21/escuela-de-incidencia.html">Escuela de Incidencia</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="bg-magenta menu-box">
        <h2>2<br><a href="{{ site.baseurl }}/participacion">Fomenta la participación ciudadana</h2></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/participacion%20ciudadana/2017/04/21/mapa-colaborativo.html">Mapa Colaborativo</a></li>
            <li><a href="{{ site.baseurl }}/participacion%20ciudadana/2017/04/21/propuestas-ciudadanas.html">Propuestas Ciudadanas</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Vota Inteligente</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Abre</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Participación Infanto Juvenil</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="bg-red menu-box">
        <h2>3<br><a href="{{ site.baseurl }}/informacion">Informa de manera efectiva y amigable</h2></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/participacion">Comparador de Posturas</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Perfiles Transparentes</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Test de afinidad</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Organizaciones Transparentes</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="bg-blue menu-box">
        <h2>4<br><a href="{{ site.baseurl }}/rendicion">Rinde cuentas o fiscaliza el avance de otros</h2></a>
        <div class="projects-list">
          <h1 class="sign">_</h1>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}/participacion">Rendición de cuentas</a></li>
            <li><a href="{{ site.baseurl }}/participacion">Observatorio de avance</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
