<div class="menu">
  <div class="row">
  <div class="col-md-3">
    <div class="bg-magenta menu-box">
      <h2>1<br><a href="{{ site.baseurl }}/participacion">Fomenta la participación ciudadana</h2></a>
      <div class="projects-list">
        <h1 class="sign">_</h1>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/participacion">Mapa Colaborativo</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Petitorio Digital</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Propuestas Ciudadanas</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Pregúntale</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Vota Inteligente</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="bg-cyan menu-box">
      <h2>2<br><a href="{{ site.baseurl }}/incidencia">Incide estratégicamente</h2></a>
      <div class="projects-list">
        <h1 class="sign">_</h1>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/participacion">Estratega</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Labcívico</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Escuela de Incidencia</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="bg-red menu-box">
      <h2>3<br><a href="{{ site.baseurl }}/informacion">Informa de manera efectiva y amigable</h2></a>
      <div class="projects-list">
        <h1 class="sign">_</h1>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/participacion">Comparador de Posturas</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Perfiles Transparentes</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Media Naranja</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Organizaciones Transparentes</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="bg-blue menu-box">
      <h2>4<br><a href="{{ site.baseurl }}/rendicion">Rinde cuentas o fiscaliza el avance de otros</h2></a>
      <div class="projects-list">
        <h1 class="sign">_</h1>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/participacion">Mapa Colaborativo</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Petitorio Digital</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Propuestas Ciudadanas</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Pregúntale</a></li>
          <li><a href="{{ site.baseurl }}/participacion">Vota Inteligente</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
