<section id="users">
  <div class="container">
    <div class="page-section">
      <h2 class="text-center mb-30">Han trabajado con nosotrxs</h2>
      <div id="users-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-4">
                Logo 1
              </div>
              <div class="col-4">
                Logo 2
              </div>
              <div class="col-4">
                Logo 3
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-4">
                Logo 4
              </div>
              <div class="col-4">
                Logo 5
              </div>
              <div class="col-4">
                Logo 6
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#users-carousel" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#users-carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
