<section id="users">
  <div class="container">
    <div class="page-section">
      <h2 class="text-center mb-60">Han usado nuestras herramientas</h2>
      <div id="users-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-4">
                <a href="https://www.espaciopublico.cl/" target="_blank"><img src="{{ site.baseurl }}/img/users/espacio-publico.svg" alt="Espacio Público"></a>
              </div>
              <div class="col-4">
                <a href="https://web.facebook.com/CIVICOUruguay/" target="_blank"><img src="{{ site.baseurl }}/img/users/civico.svg" alt="Civico"></a>
              </div>
              <div class="col-4">
                <a href="https://www.techo.org/" target="_blank"><img src="{{ site.baseurl }}/img/users/techo.svg" alt="Techo"></a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-4">
                <a href="http://www.cl.undp.org/" target="_blank"><img src="{{ site.baseurl }}/img/users/pnud.svg" alt="PNUD"></a>
              </div>
              <div class="col-4">
                <a href="http://www.libertadciudadana.org/" target="_blank"><img src="{{ site.baseurl }}/img/users/libertad-ciudadana.svg" alt="Libertad Ciudadana"></a>
              </div>
              <div class="col-4">
                <a href="https://www.espaciopublico.cl/" target="_blank"><img src="{{ site.baseurl }}/img/users/espacio-publico.svg" alt="Espacio Público"></a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#users-carousel" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#users-carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
