// Colors
$blue: #080830;
$cyan: #74C5CD;
$yellow: #F8B126;
$magenta: #D3326F;
$red: #E8453B;
$gray: #3B3B3B;

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  font-family: 'Karla', sans-serif;
  background: #F8F8F9;
  color: #3B3B3B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
    margin-top: 110px;
}

.sign {
    margin-top: -20px;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3vw;
  line-height: 4vw;
}

h2 {
  font-size: 28px;
  line-height: 38px;
}

h3 {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 1px;
  margin-top: 10px;
}

h3 a {
  color: #3B3B3B;
}

a {
  color: $magenta;
  &:hover {
    color: darken($magenta, 10%);
    text-decoration: none;
  }
}

// Colors

.magenta {
  color: $magenta;
}

.bg-magenta {
  background-color: $magenta;
  color: white;
  & a {
    color: white;
  }
}

.cyan {
  color: $cyan;
}

.bg-cyan {
  background-color: $cyan;
  color: white;
  & a {
    color: white;
  }
}

.red {
  color: $red;
}

.bg-red {
  background-color: $red;
  color: white;
  & a {
    color: white;
  }
}

.blue {
  color: $blue;
}

.bg-blue {
  background-color: $blue;
  color: white;
  & a {
    color: white;
  }
}

.participacion-ciudadana {
  color: $magenta;
}

.bg-participacion-ciudadana {
  background-color: $magenta;
}

.rinde-cuentas-o-fiscaliza {
  color: $blue;
}

.bg-rinde-cuentas-o-fiscaliza {
  background-color: $blue;
}

.informa-de-manera-efectiva {
  color: $red;
}

.bg-informa-de-manera-efectiva {
  background-color: $red;
}

.incidencia-estrategica {
  color: $cyan;
}

.bg-incidencia-estrategica {
  background-color: $cyan;
}


.text-width {
  max-width: 800px;
  margin: 0 auto;
}

.text-width p {
    font-size: 20px;
    color: #66666f;
}

.text-light {
  color: #b5b5b5;
}

.post-meta, p.post-meta {
    color: #b5b5b5;
    font-size: 14px;
}

input {
  padding: 1.5vw;
  border: none;
}

// Label

.label-default {
    background-color: #F8B126;
}

.label {
    padding: 0.3em .6em .3em;
    font-weight: 400;
    border-radius: .25em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

// Header

.navbar-inverse {
    background-color: rgba(248, 248, 249, 0.9);
    border-color: #F8F8F9;
}

.navbar-brand {
    height: 75px;
}

.navbar-nav {
    margin: 23px 0;
    float: right;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: $magenta;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: $magenta;
    background-color: transparent;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    right: 0;
    left: auto;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: $magenta;
    background-color: white;
}

// Hero

.intro {
  max-width: calc(20rem + 50vw);
  margin: 5vw 0;
}

.hero img {
    margin: -3vw;
}

.hero h3 {
    font-size: 24px;
}

// Menu Hero

.menu {
    margin-bottom: 5vw;
}

.menu-box {
    padding: 1vw 2vw;
    height: 400px;
}

.list-unstyled {
    line-height: 28px;
}

.projects-list {
  position: absolute;
  bottom: 27px;
}

.btn-container {
  position: absolute;
  bottom: 47px;
}

// blog

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carousel-control{
    width: 70px;
    &.left, &.right{
      background-image: none;
    }
  }
}

.blog-box {
    padding: 1vw 2vw;
    height: 400px;
    background: $gray;
    color: white;
}

.details {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: -10px;
}


// Box

.panel {
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    margin-bottom: 30px;
}

.panel-body {
    padding: 2vw;
    height: 400px;
    position: relative;
}

.panel-default {
  border: 0px;
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-transition: all .4s cubic-bezier(.215,.61,.355,1);
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  &:hover {
    box-shadow: 0px 10px 60px 0px rgba(100, 97, 109, 0.6);
  }
  &>.panel-heading{
    border: none;
  }
  &> .panel-heading.article-news {
    padding: 0px;
    &> .no-image-header{
      min-height: 200px;
      background-color:#CCC;
    }
  }
}

.btn-primary {
  border: none;
  color: white;
  &:hover {
    background-color: $gray;
  }
}

// Post

.text-width .post-meta {
    margin-bottom: 6vw;
}

.article-img-header {
  width: 100%;
}

figcaption {
    margin-top: 10px;
}

.article-news img {
    height: 240px;
    width: 100%;
}

// Footer

footer {
  background-color: black;
  margin: 20px 0px 0px;
  padding: 20px 0px 0px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  a {
    color: white;
    &:hover {
      color:white;
    }
  }
}

.fb_iframe_widget_fluid span, iframe.fb_ltr { width: 100% !important; }
