---
layout: default
---

<div class="container mt-74">
    <article>
      <div class="text-width page-section">
        <header>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ site.baseurl }}/herramientas">Herramientas</a></li>
              {% for category in site.category %}
                {% if category.tag == page.category %}
                  <li class="breadcrumb-item"><a href="{{ site.baseurl }}{{ category.permalink }}">{{ page.category }}</a></li>
                {% endif %}
              {% endfor %}
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
            <!-- Share -->
          </nav>
          <h1>{{ page.title }}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          </time>
        </p>
        <div class="text-right share">
          <a href="mailto:herramientas@ciudadanointeligente.org={{page.share_message}}&amp;body={{ site.url}}{{ page.url }}" class="btn btn-primary bg-{{ page.category | slugify }}" title="Me interesa esta herramienta">Me interesa</a>
          <a href="mailto:?subject={{page.share_message}}&amp;body={{ site.url}}{{ page.url }}" class="btn btn-secondary" title="Compartir por Email">
            Compartir por email <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </a>
          <a class="d-md-none btn btn-secondary" href="whatsapp://send?text={{page.share_message}} {{ site.url}}{{ page.url }}" data-action="share/whatsapp/share">Compartir por whatsapp <i class="fa fa-whatsapp"></i></a>
        </div>
        <p>{{ page.intro }}</p>
        </header>

        <div>
          {% for image in page.single_image %}
            <img src="{{ site.baseurl }}{{ image.img }}" class="img-responsive article-img-header" alt="{{ page.title }}" title="{{ page.title }}" />
            <figcaption class="text-light text-right">{{ image.caption }}</figcaption>
          {% endfor %}
          {{ content }}
        </div>

      <div class="fb-comments" data-href="{{ site.url }}{{ page.url}}" data-numposts="8" data-width="100%"></div>

        <address>
          {% for author in page.authors %}
            {{author.name}}
          {% endfor %}
        </address>


      </div>
    </div>
  </article>
</div>
