---
layout: default
---

<div id="main" class="container">
    <article>
      <div class="text-width">
        <header>
          <div class="clearfix">
          </div>
          <h1>{{ page.title }}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.category }} | {% include post_date.html date=page.date%}
          </time>
        </p>
        <!-- Share -->
        <div class="text-right share">
          <a href="mailto:herramientas@ciudadanointeligente.org={{page.share_message}}&amp;body={{ site.url}}{{ page.url }}" class="btn btn-primary bg-{{ page.category | slugify }}" title="Me interesa esta herramienta">Me interesa</a>
          <a href="mailto:?subject={{page.share_message}}&amp;body={{ site.url}}{{ page.url }}" class="btn btn-default" title="Compartir por Email">
            Compartir por email <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </a>
          <a class="visible-xs" href="whatsapp://send?text={{page.share_message}} {{ site.url}}{{ page.url }}" data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i></a>
        </div>
        <p>{{ page.intro }}</p>
        <p class="post-meta">{% for tags in page.tags %}#{{ tags }} {% endfor %}</p>
        </header>

        <div>
          {% for image in page.single_image %}
            <img src="{{ site.baseurl }}{{ image.img }}" class="img-responsive article-img-header" alt="{{ page.title }}" title="{{ page.title }}" />
            <figcaption class="text-light text-right">{{ image.caption }}</figcaption>
          {% endfor %}
          {{ content }}
        </div>

      <div class="fb-comments" data-href="{{ site.url }}{{ page.url}}" data-numposts="8" data-width="100%"></div>

        <address>
          {% for author in page.authors %}
            {{author.name}}
          {% endfor %}
        </address>


      </div>
    </div>
  </article>
</div>
